/********f************

	Do not alter this comment block. 
	Only fill out the information below.
	
    Project 4
    Name: Francis Tan
    Date: Dec 10/23
    Description: Website development and deployment

********************/

.container {
    width: 810px;
	background-color: #fff;
	border-radius: 8px;
	margin: 10px auto;
	padding: 10px;
	background-color: white;
}

#bannerpic{
    width:100%;
}

#titlepic{
    width:100%;
}

.topnav, .footer{
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.topnav a, .footer a{
    text-decoration:none;
    font-size: x-large;
    font-family: sans-serif;
    color:black;
    font-weight: bolder;
}

.footer{
    padding:20px;
}

.topnav a:hover, .footer a:hover, .row4 a:hover{
    color:aqua;
    transition:1s;
}


.row1{
    padding:20px;
}

.row4{
    padding:20px;
    text-align:center;
}

.row4 a{
    font-size:x-large;
    text-decoration:none;
    color:black;

}

.row2, .row3{
    border-style:solid;
    text-align:center;
    align-items:center;
    background:whitesmoke;
    margin:20px;
}

.row2:hover, .row3:hover{
    box-shadow:0px 0px 5px 5px aqua;
}

.row1 h1, .row0 h5, .r1 h6{
    align-items:center;
    text-align:center;
    font-size:xx-large;
}
    
.row2 img,.row3 img, .r2 img, .r3 img, .r4 img{
width:450px;
height:300px;
object-fit:cover;
}


h1, h2, h7, h8, h9{
    font-size:x-large;
}

h3,h4{
    font-size:medium;
}

.r2, .r3, .r4{
    border-style:solid;
    text-align:center;
    align-items:center;
    background:whitesmoke;
    margin:20px;
}
ul{
    list-style:none;
    display:inline;
}

.error{
    color:red;
    position:relative;
    left:300px;
}

label{
    display: inline-block;
    width: 150px; /* Or how ever big a gap you want */
    margin:0 75px;
  }

fieldset{
    border-style:none;
}

.buttons{
    text-align:center;
}








